<div class="sinfo-wrapper">
  <!-- contact information -->
  <div class="contart-info">
    <div class="contact-detail-box">
      <i class="fa fa-th fa-3x text-colored"></i>
      <h4>Get In Touch</h4>
      <abbr title="Phone">Tel:</abbr> 92902963,98565550,22304725, Fax:22304725
      <br> E:
      <a href="mailto:email@email.com" class="text-muted">mohammed@ncpscfire.com</a>
    </div>
  </div>
  <!-- end col -->

  <div class="address-info">
    <div class="contact-detail-box">
      <i class="fa fa-map-marker fa-3x text-colored"></i>
      <h4>Our Location</h4>

      <p>
        Al- Baaz Building 23 July Stree Centeral Souq
        <br> Dhofar - Salalah , P.O box:850, P.C:217
      </p>
    </div>
  </div>
  <!-- end col -->

  <div class="support-info">
    <div class="contact-detail-box">
      <i class="fa fa-book fa-3x text-colored"></i>
      <h4>24x7 Support</h4>
      <p>The maintenance team in NCPSC.<br/>22304725, 98565550</p>
    </div>
  </div>
  <!-- end col -->
  <!-- end row -->


  <div class="gmap-wrapper">
    <div class="gmap-contents">
      <div class="contact-map">
        <!-- <app-gmap></app-gmap> -->
        <iframe src="https://www.google.com/maps/embed/v1/view?key=AIzaSyAw9Shv4X4bVBbWt1tr1eyKMeR2Sf33ML0&amp;center=17.016840, 54.095542&amp;zoom=18&amp;maptype=roadmap"
          frameborder="0" scrolling="no" marginheight="0" marginwidth="0" style="width: 100%; height: 360px;"></iframe>
      </div>

    </div><!-- end of gmap-content-->

    <!-- Start of Footer Contents -->
    <footer>
      <app-footer></app-footer>
    </footer><!-- end of footer -->
  </div>
  <!-- end of gmap wrapper -->

</div>
