<div id="carousel-wrapper">
<carousel>
  <slide>
<img src="../../assets/images/methanol.png" alt="First slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h3>Salalah Methanol</h3>
<!-- <p>Salalah Methanol Company LLC (SFZ).It 90% owned by Oman Oil Company S.A.O.C . and the remaining 10% by Takamul Investment
  Company, S.A.O.C.</p> -->


    </div>
  </slide>
  <slide>
<img src="../../assets/images/client1.png" alt="First slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h3>Port of Salalah</h3>
      <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p> -->
    </div>
  </slide>
  <!-- <slide>
<img src="../../assets/images/methanol.png" alt="First slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h3>Third slide label</h3>
      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
    </div>
  </slide> -->
</carousel>
</div>
