#carousel-wrapper {
padding: 0 40px !important;
}
carousel slide{
  padding:3px;
  border:1px solid #ccc;
}

carousel slide img{
  width:344px;
  height:685px;
}
.carousel-control.left{
  background-image: none !important;

}


