.navbar{background-color:#c41335;border:none;border-radius:0;}
.nav>li>a{
  color:#fff;
}

.nav > li > a:focus, .nav > li > a:hover {
  text-decoration: none;
  background-color: rgb(0, 0, 0);
  color:#fff;
}

.top-nav{
background-color:#fff;
margin:0;
height:10rem;
border:none;
}

.site-log , .site-title{
  padding-top:2px;
  height:87px;
}


