.wrapper{
padding:4rem 0;

}
.wrapper{
  /* width:1440px;
  background-color:#c1c1c1; */
}
.main-container{
  margin-left:auto;
  margin-right:auto;
  width:940px;
  display:grid;
  grid-template-columns:1fr 1fr;
  grid-template-rows:auto;
  grid-column-gap:2px;
  grid-template-areas:
  "aside-area main-area"

}
.main-container{
      border: 2px solid #fff;
      border-radius: 25px;
background-color:#fff;
}


aside{
  /* border: 1px solid #cdcbba; */
  border-radius: 25px;

  grid-area: aside-area;
  /* background-color:#cdcbba; */
}

main{

  grid-area:main-area;


}
