<h2>Services/Products
  </h2>
  <p>
    Our services and products are regularly updated according to the latest standards, developments and client Requirement. When it comes to services our areas are as follows:
  </p>
<ul>
  <li>Consultant services for Fire Fighting, Fire Alarm, LPG Network and Safety Systems</li>
  <li>Maintenance, Design, Supply, Installation, Testing and Commissioning of Fire Fighting, Fire Alarm, LPG Network and Safety Systems.</li>
  <li>Fire Strategy</li>
  <li>Risk Quantity Assessment.</li>
  <li>ERP</li>
  <li>Fire Equipment Manual.</li>
</ul>

<p>
  The small list of  products we are Presently Providing are:
</p>

<ul>
  <li>Fire Extinguishers</li>
  <li>Fire Hose & Reels </li>
  <li>Sprinklers, Nozzles</li>
  <li>Cabinets</li>
  <li>Fire Pumps</li>
  <li>Valves, Fittings, Pipes etc</li>
  <li>Fire Hydrants</li>
  <li>Gaseous Fire Suppression System</li>
  <li>Kitchen Hood Fire Suppression System</li>
  <li>Addressable Fire Alarm System</li>
  <li>Conventional Fire Alarm System</li>
  <li>VESDA System</li>
  <li>Fire Fighting & Security Vehicles</li>
  <li>Fire Door</li>
  <li>LP Gas System</li>
  <li>Emergency & Exit Lights</li>
  <li>Security System</li>
  <li>Beam  Detectors</li>
</ul>
