<div class="clients-container">
  <h3>Our Clients</h3>
<app-carousel></app-carousel>
  <!-- <div class="clients-img">
    <img src="../../assets/images/client1.png" style="height:100%;width:100%;">
  </div>
  <div class="clients-wrapper">
    <div class="clients-contents">
    <img src="../../assets/images/portSalalah.png" class="client-logo" style="height:4rem; width:4rem;">
    <div class="clients-summary">
      <h4>Port of Salalah</h4>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
      </p>
      </div>
    </div>
  </div> -->
</div>
