<!-- Start of Header Contents -->
<header>
  <app-header></app-header>
</header>
<!-- Start of Main Contents -->
<div class="main-contents">
  <!-- Main Image -->
  <div class="main-img">
    <img src="http://www.cityfire.com/assets/img/home-slider/slide-1.jpg" alt="" style="height:100%; width:100%;">
  </div>
  <!-- left contents -->
  <div class="left-cont">
    <div class="l-container">
      <h2>Left Contents list</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt maiores iusto illo sapiente, dignissimos harum dicta
        laborum tempore, officiis molestiae beatae voluptatum veritatis! Debitis quas qui nemo voluptatibus quis aliquid?
         voluptas cum molestias hic placeat, minima aperiam.</p>
      <ul>
        <li>item 1</li>
        <li>item 2</li>
        <li>item 3</li>
        <li>item 4</li>
        <li>item 5</li>
      </ul>
    </div>
  </div>
  <!-- right contents -->
  <div class="right-cont">
    <h2>Our Services</h2>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam, reiciendis illo error natus eum beatae veritatis culpa necessitatibus
      corporis adipisci animi quibusdam quidem tempore harum dolore similique aperiam enim dolorem? Eum exercitationem beatae,
      veritatis sapiente ipsa, quos deleniti repellat reprehenderit facilis asperiores vero, quaerat fugiat vel? Maiores
      iusto aliquid ducimus aperiam! Atque magni ex at vitae dolorem perspiciatis ut in. Nihil quibusdam esse non exercitationem

    </p>
  </div>
  <!-- google map -->
  <div class="g-map">
    <img src="https://fthmb.tqn.com/Pfr8XIxLR_G8ZbonSRefcw1jzm8=/4948x2480/filters:fill(auto,1)/mapsdirectionspart1-56cd4d395f9b5879cc5bd51a.png"
      style="height:100%;width:100%">
  </div>
  <!-- Start of Footer Contents -->
  <footer>
    <app-footer></app-footer>
  </footer>
</div>
