<!-- Start of Header Contents -->
<header>
  <app-header></app-header>
</header>
<!-- Start of Main Contents -->
<div class="main-contents">
  <!-- Main Image -->
  <div class="main-img">
    <img src="http://www.cityfire.com/assets/img/home-slider/slide-1.jpg" alt="" style="height:100%; width:100%;">
  </div>
  <!-- left contents -->
  <div class="left-cont">
      <img src="../../assets/images/bgfire.png" style="height:100%;width:100%">
  </div>
  <!-- right contents -->
  <div class="right-cont">
    <h3>Our Services</h3>
    <hr>
    <p class="art-details">
       Our Services Our services and products are regularly updated according to the latest standards, developments and client
      Requirement
    </p>
    <p class="art-more">
      <a href="#"> more >> </a>
    </p>
  </div>


</div>
<!-- <div class="row gloc">
  <app-g-location></app-g-location>
</div> -->
