<!-- Start of Main Contents -->
<div class="main-contents">
  <!-- Main Image -->
  <div class="main-img">
    <img src="http://www.cityfire.com/assets/img/home-slider/slide-1.jpg" alt="" style="height:100%; width:100%;">
  </div>
  <!-- left contents -->
  <div class="left-cont">
    <div class="lart">
      <h3>Bring to Us your Needs</h3>
       <p> In short bring to us your needs we will find you a solution through enjoying our operation performance
      objectives strategy which is focussing on the five main objectives :-<br/>
       <span>Quality</span> <br/>
       <span>Dependability</span> <br/>
       <span>Flexibility</span><br/>
       <span>Speed Cost</span>

    </p>

    </div>
     <div class="limg">
<img src="../../assets/images/ourClients.png" alt="" style="height:100%; width:100%;">
</div>
  </div>
  <!-- right contents -->
  <div class="right-cont">
    <h3>Our Services</h3>
    <hr>
    <p class="art-details">
       Our services and products are regularly updated according to the latest standards, developments and client
      Requirement
    </p>
    <p class="art-more">
      <a [routerLink]="'about'"> more >> </a>
    </p>

    <h3>Our Clients</h3>
    <p>
       Our Clients include Construction Companies, Engineering Consultants, Oil & Gas fields, Upstream /Downstream Industries,
      Sea Ports , Air Ports Facilities, Ministries and Government Organisations etc
    </p>
  </div>


</div>
<!-- <div class="row gloc">
  <app-g-location></app-g-location>
</div> -->
